

.Welcomeword  {
  text-align: center;
  position: relative;
  left: 100%;
  animation: slideIn 1.5s ease forwards;
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}



  

  

.Homepagepic{
        
       width:80%;
       max-width:1200px;;

        margin: 0 auto; /* center the div horizontally */
        padding: 20px;
      
}




.Homegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .grid-item {

    padding: 16px;
  }

  
  
  @media (max-width: 768px) {
    .Homegrid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column; /* Change flex direction to column */
      }}
